<% layout("/layouts/boilerplate.ejs") %>
<h2>Search results</h2>
<div class="cards">
    <div class="row row-cols-lg-3 row-cols-md-2 mt-4 ">
      <% for(let listing of searchResult) { %>
        <div class="col">
          <div class="card">
            <a href="/listings/<%= listing._id %>/show">
              <img src="<%= listing.image.url%>"
                class="card-img-top" alt="<%= listing.title %>">
            </a>
            <div class="card-body">
              <h5 class="card-title">
                <%= listing.title %>
              </h5>
              <!-- <p class="card-text"><%= listing.description %></p> -->
              <p class="price">
                &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/night &nbsp; &nbsp; <i class="tax-info">+18% GST</i>
              </p>
              
  
            </div>
          </div>
        </div>
        <% } %>
    </div>
</div>